#include <windows.h>
IDI_ICON1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "QtSpreadsheet"
      VALUE "FileDescription",  "QtSpreadsheet - High Performance Spreadsheet"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "QtSpreadsheet"
      VALUE "OriginalFilename", "QtSpreadsheet.exe"
      VALUE "ProductName",      "QtSpreadsheet"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
